.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 48px;
  color: #fff;
  background-color: black;
  font-size: 36px;
}

.popup__button:disabled {
  background-color: #fff;
  color: rgba(0, 0, 0, .2);
}