.place-card__delete-icon {
  background: transparent url(../../../images/trash-icon.svg) no-repeat center;
  border: none;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  display: none;
}